<!-- https://codepen.io/codefactory/pen/AeJzNX -->
<p>65456464</p>

<ul id="sb-slider" class="sb-slider">
    <li>
        <a href="http://www.flickr.com/photos/strupler/2969141180" target="_blank"><img
                src="https://tympanus.net/Development/Slicebox/images/1.jpg" alt="image1" /></a>
        <div class="sb-description">
            <h3>Creative Lifesaver</h3>
        </div>
    </li>
</ul>
<div id="shadow" class="shadow"></div>
<div id="nav-arrows" class="nav-arrows">
    <a href="#">Next</a>
    <a href="#">Previous</a>
</div>
